html,body{
    font-family: "open Sans",Arial, Helvetica, sans-serif;
    background-color: #f3f3f4;
    color:#676a6c;
    height: 100%;



}
.box{
     border: 1px red dotted;
}

#side-menu {
    background-color: #2f4050;
    padding: 0px;

}
#side-menu h1 {
    color: #1f3647;
    text-align: center;
    margin: 10px 0px;
    font-size: 25px;
    padding: 10px;
}
#side-menu h5 {
    color: #fff;
    text-align: center;
    margin: 10px 0px;
    font-size: 15px;
    padding: 10px;
}
#side-menu ul{
  list-style: none;
  margin: 0px;
  padding: 0px;
}
#side-menu a{
  padding: 12px 20px;
  text-decoration: none;
  color: #9fb1c2;
  font-weight: bold;
  font-size: 13px;
  display: block;
}
#side-menu .glyphicon{
margin-right: 6px;
}
#side-menu a:hover{
  background-color: #293846;
  color: #fff;
  display: block;
}
#side-menu .active a {
  color: #fff;
  background-color: #293846;
}
#side-menu .settings-btn{
  background-color: #1ab394;

}
#side-menu .settings-btn a{
 color: #fff;
}
#side-menu .settings-btn a:hover{
  background-color: #18b394;

}
#side-menu .collapseable li {
padding-left: 20px;
padding-top: 5px;

}

#side-menu .collapseable a{
  color: #9fb1c2;
  font-size: 12px;
  padding: 0px 10px;
  text-decoration: none;
  display: block;
  }
  #side-menu .collapseable a:hover{
    color: #fff;
  }
  #side-menu .collapseable {
    border-left: 4px solid #1ab394;
    background-color: #293846;

  }
  #side-menu .link > ul >li {
   padding-bottom: 10px;
   padding-top: 5px;
  }
.display-table{
    display: table;
    padding: 0px;
    height: 100%;
    width: 100%;
}
.display-table-row{
    display: table-row;
     height: 100%;
}
.display-table-cell{
    display: table-cell;
    float: none;
    height: 100%;

}
.valign-top{
    vertical-align: top;
}
#nav-header{
  background-color: #fff;
  border-bottom: 1px solid #e7eaec;
}
#nav-header #header-search-filed {
  padding-top: 17px;
  vertical-align: center;
  border: none;
  width: 300px;
  outline: none;

}
#nav-header ul{
  margin: 0px;
  padding: 0px;
  list-style: none;
  color: #676a6c;
}
#nav-header ul li{
  float: left;
  margin-left: 15px;
  padding: 17px 0px;

}
#nav-header ul .glyphicon{
  color: #676a6c;

}
.label-message{
  background-color: #1ab394;

}
#nav-header ul a {
  text-decoration: none;
}
#nav-header .logout{
  color: #67616c;
}
#nav-header .logout:hover {
  color: #67616c;
}
#nav-header #welcome{
  margin-right: 20px;
}
#nav-header ul .label{
  position: absolute;
  margin-top: -10px;
  margin-left: -5px;
}
#nav-header .fixed-width{
  width: 35px;
}
#admin-footer{
  position: absolute;
  width: 100%;
  bottom: 0px;
  background-color: #fff;
  padding: 10px;
  font-size: 12px;
  color: #676a6c;
}
.navbar-default{
  background-color: #fff;
}
.navbar-default .navbar-toggle{
  border-color: #1ab394;
  background-color: #1ab394;
}
.navbar-default .icon-bar{
  border:1px white solid;
}
.navbar-default .navbar-toggle:hover{
  background-color: #1ab394;


}
.navbar-default .navbar-toggle:focus{
  background-color: #1ab394;
}
.dashboard-left-cell{
  padding-right: 5px;
}
.dashboard-center-cell{
  padding-right: 5px 5px;
}
.dashboard-right-cell{
  padding-left: 5px;
}
.admin-content-con{
  margin-top: 20px;
  background-color: #fff;
  border-top: 4px #e7eaec solid;
  padding: 12px;

}
.admin-content-con h5{
  margin: 0px;
  padding-top: 3px;
}
.admin-content-con header{
  margin-top: 10px;
  border-top: 1px #eee solid;
  padding-top: 2px;
}
#signup .input-group {
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
}

#signup .input-group.nom{
    margin-bottom: 0;
    margin-left: 1em;
}
.panel2 {
  margin-bottom: 20px;
  background-color: #fff;
  border: 0px solid transparent;
  border-radius: 4px;
}


label {
    width: 150px;
    border-radius: 3px;
    border: 0px solid #D1D3D9
}

input[type="radio"]:empty {
    margin-left: -999px;
}

input[type="radio"]:empty ~ label {
    position: relative;
    float: left;
    margin-left: 28px;
    margin-right: 0px;
    line-height: 2.5em;
    text-indent: 3.25em;

    cursor: pointer;


}


input[type="radio"]:empty ~ label:before {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    content:'';
    width: 2.5em;
    background: #D1D3D4;
    border-radius: 3px 0 0 3px;
}

input[type="radio"]:hover:not(:checked) ~ label:before {
    content:'\2714';
    text-indent: .9em;
    color: #C2C2C2;
}

input[type="radio"]:hover:not(:checked) ~ label {
   color: #888;
}

input[type="radio"]:checked ~ label:before {
    content:'\2714';
    text-indent: .9em;
    color: #9CE2AE;
    background-color: #4DCB6D;
}

input[type="radio"]:checked ~ label {
    color: #777;
}

input[type="radio"]:focus ~ label:before {
    box-shadow: 0 0 0 3px #999;
}
.img-circle {

  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  box-shadow: 0 0 6px rgba(77, 203, 109);
  -webkit-box-shadow: 0 0 6px rgba(0, 139, 139, 1);
  -moz-box-shadow: 0 0 6px rgba(0, 0, 0, .6);
  }
  .btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
.formbg {
  width: 600px;
  margin: 10px auto 100px auto;

  padding: 15px;
  overflow: hidden;
}
